#*
 *  Copyright (C) 2021 The Spanish Trainset
 *  Based on The Dutch Trainset 2 files and NewGRF build framework
 *  This file is part of The Spanish Transet
 *  This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.
 *  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 *  You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 *#

#macro( trackType $engineType, $gauge)
  #if ($gauge == "iberian")
    #if ($engineType == "electric")
      track_type: ibearianElectrified;
    #else
      track_type: ibearianNotElectrified;
    #end
  #elseif ($gauge == "narrow")
    #if ($engineType == "electric")
      track_type: narrowElectrified;
    #else
      track_type: narrowNoElectrified;
    #end
  #else
    track_type: /*SAAA; // */ uicHighSpeedElectrified;
  #end
#end

#macro( engineType $engineType)
	#if (${engine}=="steam")
		running_cost_base: RUNNING_COST_STEAM;
		engine_class: ENGINE_CLASS_STEAM;
		visual_effect_and_powered: visual_effect_and_powered(VISUAL_EFFECT_STEAM, ${effect}, DISABLE_WAGON_POWER);
	#elseif (${engine}=="diesel")
		running_cost_base: RUNNING_COST_DIESEL;
		engine_class: ENGINE_CLASS_DIESEL;
		visual_effect_and_powered: visual_effect_and_powered(VISUAL_EFFECT_DIESEL, ${effect}, DISABLE_WAGON_POWER);
	#elseif(${engine}=="electric")
		running_cost_base: RUNNING_COST_ELECTRIC;
		engine_class: ENGINE_CLASS_ELECTRIC;
		visual_effect_and_powered: visual_effect_and_powered(VISUAL_EFFECT_ELECTRIC, ${effect}, DISABLE_WAGON_POWER);
	#else
	
	#end
#end
